DATABASE_URL="postgresql://postgres.rsfnxgkmpmxdylzrznui:[PASSWORD]@aws-1-us-east-1.pooler.supabase.com:5432/postgres?sslmode=require"

SUPABASE_URL="https://rsfnxgkmpmxdylzrznui.supabase.co"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_jERLdmkWgF95yUNCUFiqrQ_kalpHJt4"